<br><br>
<div class="container">
    <b>Upload File</b>
    <input type="file" (change)="selectFile($event)">
    <p class="my-4">
        <button class="btn bg-primary px-3" (click)=" uploadFile()">Upload File</button>
    </p>
    <hr>

    <p>Tooltip</p>
    click outside:
    <button type="button" class="btn btn-outline-secondary" triggers="click" [autoClose]="'outside'"
        ngbTooltip="Click outside or press Escape to close" placement="end">
        <!--use placement to postion the tooltip, possible values top end start bottom-->
        Click to toggle
    </button>
    <hr>

    <br><br>
    Open Ngb modal
    <button (click)="openModal()" class="btn btn-outline-primary">click</button>

    <br><br>
    <hr>
    Read more / read less
    <div *ngFor="let data of contentList;let i=index;" class="row tableDiv">
        <div class="col-2">
            {{data.sr}}
        </div>
        <div class="col-2">
            <!-- <div [ngClass]="{'limitTextHeight': data.isReadMore}">{{data.content}}</div> 
            <button (click)="showText(i)">
                {{ data.isReadMore ? 'Read More': 'Read Less' }}
            </button> -->

            {{( data.isReadMore) ? data.content : data.content | slice:0:30}}
            <span *ngIf="data.content.length>30 && data.isReadMore==false">..</span>
            <a href="javascript:;" *ngIf="data.content.length>30 && data.isReadMore==false"
                (click)="data.isReadMore=!data.isReadMore">[Read More]</a>

            <a href="javascript:;" *ngIf="data.isReadMore==true" (click)="data.isReadMore=!data.isReadMore">[Read
                Less]</a>
        </div>
    </div>

    <br><br>
    <hr>
    <b>Drag & Drop file</b>
    <div class="fileContainer">
        <input type="file" class="file" (change)="getDragFile($event)">
        <div class="dragTxt">Browse or Drag & Drop file to upload</div>
    </div>
    <br>
    <div>
        File Name : <span *ngIf="fileDrag!=undefined">{{fileDrag.name}}</span>
        <br>
        <button (click)="fileDrag = undefined">Clear File</button>
    </div>

    <br><br>
    <hr>

    <em>Radio button</em>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
        <label class="form-check-label" for="exampleRadios1">
            Default radio
        </label>
    </div>
    <div class="form-check my-2">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        <label class="form-check-label" for="exampleRadios2">
            Second default radio
        </label>
    </div>

    <br><hr>
    Checkbox
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">1</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
        <label class="form-check-label" for="inlineCheckbox2">2</label>
    </div>
    <br><br> <br><br> <br><br>
</div>