<br><br>
<div class="container">
    <p>Upload File</p>
    <input type="file" (change)="selectFile($event)">
    <p class="my-4">
        <button class="btn bg-primary px-3" (click)=" uploadFile()">Upload File</button>
    </p>


    <p>Tooltip</p>
    click outside:
    <button type="button" class="btn btn-outline-secondary" triggers="click" [autoClose]="'outside'"
        ngbTooltip="Click outside or press Escape to close" placement="end">
        <!--use placement to postion the tooltip, possible values top end start bottom-->
        Click to toggle
    </button>

    <br><br>
    Open Ngb modal
    <button (click)="openModal()" class="btn btn-outline-primary">click</button>

</div>