$colorPrimary:blue;

.tableDiv > div{
    border:1px solid black;
}

.limitTextHeight {
    height: 20px;
    overflow: hidden;
}

.fileContainer{
    width:600px;
    height:10rem;
    border:4px dotted $colorPrimary;
  

    .file{
        opacity: 0;
        width:auto;
        height:100%;
        width:100%;
    }

    .dragTxt{
        position: relative;
        bottom:50%;
        display: flex;
        justify-content: center;
    }
}
